.column {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styling for the Specialité dropdown menu */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" width="12" height="12"><polygon points="0,0 8,0 4,4"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 60%;
    background-size: 12px;
}

#medical-data {
    margin-left: 1px;
    margin-right: 10px;
}