.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    /* Add margin-bottom to control spacing */
}

/* Style the label and input fields */
input {
    width: 100%;
    padding: 10px;
    margin: 0;
    /* Remove default margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    /* Add margin-bottom to control spacing */
}

/* Add padding between "Name" and "Surname" */
.row input:first-child {
    margin-right: 10px;
    /* Adjust the padding as desired */
}

/* Style the Signup button with a class selector */
.button {
    background-color: #0073e6;
    color: white;
}

.error {
    background-color: #ff9999;
}